
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color:  #0d253f ;
    height: 64px;
    width: 100%;
    z-index: 10;
}
.header_wrapper {
    max-width: 1550px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100%
}
.header_left {
    width: 700px;
    display: flex;

}
.logo {
    width: 170px;
    display: flex;
    align-items: center;
}
.logo img {
    width: 100%;
    display: flex;
    align-items: center;

}
.header_nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header_nav__item {
    display: inline;
    list-style: none;
    cursor: pointer;
    position: relative;
    padding: 10px 0;

}

.header_nav li a {
    color: white;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 19px;
    padding: 0 20px;
}
.header_nav li a:hover {
    text-decoration: none;
    color: white;
}

.header_right {
    width: 700px;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    column-gap: 30px;


}
.search_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
i {
    cursor: pointer;
    font-size: 22px;
    color: white;
}

.animation_container_nav {
    display: none;
    flex-direction: column;
    padding: 0;
    width: 170px;
    height: 129px;
    box-sizing: content-box;

    position: absolute;
    top: 44px;
    left: 0;
    z-index: 1500;


    border-radius: 3px;
    border: 1px solid #cbcaca;
    background-color: white;
}
.small {
    height: 40px;
}

.header_nav__item:hover .animation_container_nav {
    display: block;
}

.animation_container_nav li {
    list-style: none;
    padding-top: 8px;
}
.animation_container_nav li:hover {
    background-color: #cccccc;
}
.animation_container_nav li a {
    color: black;
    font-size: 16px;
}
.animation_container_nav li a:hover {
    color: black;
}

.searchInput {
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    bottom: -50px;
    display: flex;
    justify-content: center;
}


.searchInput input {
    width: 100%;
    border-color: #cbcaca;
    border-right-style: hidden;
    border-left-style: hidden;
}

