.person_name a {
    color: black;
    font-size: 20px;
}
.person_info {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.person_name a:hover {
    font-weight: bold;
}