
.movies_wrapper{
    padding-top: 64px;

}
.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}
.movies_wrapper h1 {
    margin: 30px;
    padding-left: 40px;
    color: #0d253f;
}
.load_more__button {
    margin: 30px;
    display: flex;
    justify-content: center;


}

.load_more__button button {
    width: 200px;
    height: 60px;
    border-radius: 6px;

    font-size: 20px;
    background: #0d253f;
    color: white;
    cursor: pointer;
}

